<%= form_for(@restaurant) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Pick a restaurant Name' %>
  </div>

  <div class="form-group">
    <%= f.text_field :address, class: 'form-control', placeholder: 'Put your address ðŸ '%>
  </div>

  <div class="form-group">
    <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Your ðŸ“± number' %>
  </div>

  <div class="form-group">
    <%= f.text_field :category, class: 'form-control', placeholder: 'Type of ðŸ½ï¸'%>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>
